<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('layout'); -%>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <form method="POST">
            <div class="form-group">
              <label for="first_name">First name:</label
              ><input
                id="first_name"
                class="form-control"
                type="text"
                placeholder="First name (Christian)"
                name="first_name"
                required
                value="<% if (author) { %><%= author.first_name %><% } %>"
              />
              <label for="family_name">Family name:</label
              ><input
                id="family_name"
                class="form-control"
                type="text"
                placeholder="Family name (Surname)"
                name="family_name"
                required
                value="<% if (author) { %><%= author.family_name %><% } %>"
              />
            </div>
            <div class="form-group">
              <label for="date_of_birth">Date of birth:</label>
              <input
                id="date_of_birth"
                class="form-control"
                type="date"
                name="date_of_birth"
                value="<% if (author) { %><%= author.dob_yyyy_mm_dd %><% } %>"
              />
              <label for="date_of_date">Date of death:</label>
              <input
                id="date_of_death"
                class="form-control"
                type="date"
                name="date_of_death"
                value="<% if (author) { %><%= author.dod_yyyy_mm_dd %><% } %>"
              />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
          <% if (errors){ %>
          <ul>
            <% for (let error of errors){ %>
            <li><%= error.msg %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
