<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('layout'); -%>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <p>
            Welcome to <%= title %>, this is a simple Express website developed
            to practice the fundamentals of MVC web development.
          </p>
          <h2>Dynamic Content</h2>
          <p>This library contains the following:</p>
          <ul>
            <li><strong>Books: </strong><%= book_count %></li>
            <li><strong>Authors: </strong><%= author_count %></li>
            <li><strong>Copies: </strong><%= book_instance_count %></li>
            <li>
              <strong>Available Copies: </strong><%=
              book_instance_available_count %>
            </li>
            <li><strong>Genres: </strong><%= genre_count %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
